<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TONYB Magic Libray</title>
    <link rel="stylesheet" href= "{{url_for('static',filename='dashboardstyle.css')}}">
</head>
<body>
    <div class="page">
        <div class="header">
            <p>Welcome {{user.first_name}} {{user.last_name}}</p>
            <a href="/log_out">Log OUT</a>
        </div>
        <div class="body">
            <div class="topbox"
                ><h1>Your Cards</h1>
            </div>
            <div class="under">
                <div class="leftbox">
                    <p style="margin-left: 40%; background-color:rgb(138, 97, 31); width:20%; font-size:20pt ">Current Cards</p>
                    {% for card in cards %}
                    <div class="card" id="card{{card.id}}" onmouseover="cardColor({{card.id}})" onmouseleave="cardBack({{card.id}})">
                        <p>Name:{{card.name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TYPE:{{card.type}}</p>
                        <input type="hidden" id="cardCost{{card.id}}" value="{{card.cost}}">
                        <a href="/view_card/{{card.id}}"> VIEW </a>
                        <a href="/edit_card/{{card.id}}">EDIT</a>
                        <a href="/delete_card/{{card.id}}">DELETE</a>
                    </div>
                    {% endfor %}

                </div>
                <div class="rightbox">
                    <a href="/new_card"><button id="addCard" style="width:110%" onmouseover="buttonSelect(this)" onmouseleave="buttonDeselect(this)">Add Card</button></a>
                </div>
            </div>
        </div>
    </div>
    <script src="{{url_for('static',filename='script.js')}}"></script>
</body>
</html>

