<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT CARD</title>
    <link rel="stylesheet" href= "{{url_for('static',filename='dashboardstyle.css')}}">
</head>
<body>
    <div class="page">
        <div class="header">
            <h1>Update {{card.name}} {{user.first_name}}</h1>
            <a href="/dashboard">DASHBOARD</a>
        </div>
        <div class="body">
            <div class="under">
                <form action="/update_card" method="post" style="display:flex; width: 100%;">
                    <div class="leftbox" style="display:flex ; flex-direction:column">
                        <input type="hidden" name="id" value="{{card.id}}">
                        <label for="name">NAME:</label>
                        <input type="text" name="name" value="{{card.name}}">
                        <label for="cost">COST:</label>
                        <input type="text" name="cost" value="{{card.cost}}">
                        <label for="type">TYPE:</label>
                        <input type="text" name="type" value="{{card.type}}">
                        <label for="keywords">KEYWORDS:</label>
                        <input type="text" name="keywords" value="{{card.keywords}}">
                    </div>
                    <div class="rightbox" style="display:flex ; flex-direction:column">
                        <label for="flavor_text">FLAVOR:</label>
                        <textarea name="flavor" cols="80" rows="5">{{card.flavor}}</textarea>
                        <div>
                            <label for="power">POWER:</label>
                            <input type="number" name="power" value="{{card.power}}">
                            <label for="toughness">TOUGHNESS:</label>
                            <input type="number" name="toughness" value="{{card.toughness}}">
                        </div>
                        <button id="addCard">UPDATE CARD</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>