<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="page" style="width:100vw ; height: 100vh; display: flex; flex-direction: column;">
        <div class="head" style="width:100%; display:flex ; align-items:center; justify-content: center;"><h1>NEW CARD {{user.first_name}}{{user.id}}</h1></div>
        <div class="body">
            <form action="/add_card" method="post" style="display:flex; width: 80%;">
                <div class="left" style="display:flex ; flex-direction:column">
                    <label for="name">NAME:</label>
                    <input type="text" name="name" value="{{card.name}}">
                    <label for="cost">COST:</label>
                    <input type="text" name="cost" value="{{card.cost}}">
                    <label for="type">TYPE:</label>
                    <input type="text" name="type" value="{{card.type}}">
                    <label for="keywords">KEYWORDS:</label>
                    <input type="text" name="keywords" value="{{card.keywords}}">
                </div>
                <div class="right" style="display:flex ; flex-direction:column">
                    <label for="flavor_text">FLAVOR:</label>
                    <textarea name="flavor" cols="30" rows="10">{{card.flavor}}</textarea>
                    <div>
                        <label for="power">POWER:</label>
                        <input type="number" name="power" value="{{card.power}}">
                        <label for="toughness">TOUGHNESS:</label>
                        <input type="number" name="toughness" value="{{card.toughness}}">
                    </div>
                    <button>ADD CARD</button>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>