<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAGIC LIBRARY</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
</style>
<body style="font-family: 'Kaushan Script', cursive;  margin:0 ">
    <div class="page" style="width: 100vw; height: 100vh; display: flex; justify-content: center; background-color: rgb(102, 69, 16); margin:0 ">
        <div class="header">
            <h1>WELCOME TO THE MTG LIBRARY</h1>
        </div>
        <div class="left" style="margin:20px ; border: 2px solid black; background-color:rgb(138, 97, 31); width:30%;" >
            <h1>Register</h1>
            {% with messages = get_flashed_messages(category_filter=['register']) %}
                {% if messages %}                            
                    {% for message in messages %}
                        <p style="color:red">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="/register" method="post" style="display:flex;flex-direction:column">
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name">
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name">
                <label for="email">Email:</label>
                <input type="text" name="email">
                <label for="password">Password:</label>
                <input type="text" name="password">
                <label for="confirm">Confirm Password:</label>
                <input type="text" name="confirm">
                <button>Register</button>
            </form>
        </div>
        <div class="right" style="margin:20px ; border: 2px solid black; background-color:rgb(138, 97, 31); width:30% ">
            <h2>Log In:</h2>
            {% with messages = get_flashed_messages(category_filter=['login']) %}
                {% if messages %}                            
                    {% for message in messages %}
                        <p style="color:red">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="/log_in" method="post" style="display:flex; flex-direction:column">
                <label for="email">Email:</label>
                <input type="text" name="email">
                <label for="password">Password:</label>
                <input type="text" name="password">
                <button>Log In</button>
            </form>
        </div>
    </div>
    
</body>
</html>